.toolBarButton{
    -fx-background-color: #4E4E4E;
    -fx-background-radius: 0;
    -fx-font-family:'URW DIN Arabic';
    -fx-font-size: 18px;
    -fx-text-fill: #FFFFFF;
}

.toolBarButton:hover{
    -fx-background-color: #333333;
    -fx-background-radius: 0;
}
.toolBarButton:pressed{
    -fx-background-color: #000;
    -fx-background-radius: 0;
}
.toolBarButton:focus{
    -fx-background-color: #718A76;
    -fx-background-radius: 0;
}

.showButton{
    -fx-background-color: #1E3606;
    -fx-background-radius: 0;
    -fx-font-family:'URW DIN Arabic';
    -fx-font-size: 15px;
    -fx-text-fill: #FFFFFF;
}

.showButton:hover{
    -fx-background-color: #333333;
    -fx-background-radius: 0;
}
.showButton:pressed{
    -fx-background-color: #000;
    -fx-background-radius: 0;
}
.showButton:focus{
    -fx-background-color: #718A76;
    -fx-background-radius: 0;
}
.censusLable{
    -fx-background-color: #4E4E4E;
    -fx-background-radius: 0;
    -fx-font-family:'URW DIN Arabic';
    -fx-font-size: 13px;
    -fx-text-fill: #FFFFFF;
}
.searchPageButton{
    -fx-background-color: #F68A1F;
    -fx-background-radius: 0;
    -fx-font-family:'URW DIN Arabic';
    -fx-font-size: 18px;
    -fx-text-fill: #FFFFFF;
}

.searchPageButton:hover{
    -fx-background-color: #457F62;
    -fx-background-radius: 0;
}
.searchPageButton:focus{
    -fx-background-color: #457F62;
    -fx-background-radius: 0;
}
.headerlabel{
    -fx-font-family:'URW DIN Arabic';
    -fx-font-size: 12px;
    -fx-text-fill: #FFFFFF;

}
.identitilabel{
    -fx-font-family:'URW DIN Arabic';
    -fx-font-size: 18px;
    -fx-text-fill: #4A4A4A;
    -fx-border-color: #4E4E4E;
    -fx-border-width: 1;
}
.image-view-wrapper:border {
    -fx-padding: 10;
    -fx-background-color: firebrick;
}
.searchdatalabel{
    -fx-background-color: #CDCFD0;
    -fx-background-radius: 0;
    -fx-font-family:'URW DIN Arabic';
    -fx-font-size: 18px;
    -fx-text-fill: #4A4A4A;
    /*    -fx-border-color: #A0A0A0;
        -fx-border-width: 1;*/
}
.searchlabel{
    -fx-background-color: #596367;
    -fx-background-radius: 0;
    -fx-font-family:'URW DIN Arabic';
    -fx-font-size: 18px;
    -fx-text-fill: #FFFFFF;
    /*     -fx-border-color: #A0A0A0;
        -fx-border-width: 1;*/
}
.refrechButton{
    -fx-background-color: #97A097;
    -fx-background-radius: 15;
}

.refrechButton:hover{
    -fx-background-color: #646A64;
    -fx-background-radius: 15;
}

.username{
    -fx-background-color: #1E3606;
    /*-fx-background-radius: 15;*/
    -fx-font-family:'URW DIN Arabic';
    -fx-font-size: 15px;
    -fx-text-fill: #FFFFFF;
    /*-fx-effect: dropshadow(three-pass-box,#000000, 10, 0, 5, 5);*/ 
}
.logoutButton{
    -fx-background-color: #F68A1F;
    -fx-background-radius: 0;
    -fx-font-family:'URW DIN Arabic';
    -fx-font-size: 18px;
    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box,#000000, 10, 0, 5, 5); 
}
.addname{
    -fx-background-color: #B6CD54;
    -fx-background-radius: 15;
    -fx-font-family:'URW DIN Arabic';
    -fx-font-size: 18px;
    -fx-text-fill: #FFFFFF;
}
.appTable {

    -fx-table-header-border-color: transparent;
    -fx-table-cell-border-color: -fx-box-border;
    -fx-background-color: #BEC2C3;
}

.appTable .filler, .table-view .column-header
{
    -fx-size: 40;
    -fx-border-color: rgb(200.0, 200.0, 200.0);
    -fx-border-width: 1;
    -fx-background-color: transparent;
    -fx-background-color: #596367;

    /*-fx-background-radius: 15 15 0 0;*/
    /*-fx-border-color:#FFFFFF;#596367*/
}

.appTable .show-hide-columns-button
{
    -fx-background-color: transparent;
}

.appTable .column-header .label,
.appTable .column-drag-header .label
{
    -fx-alignment: CENTER;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family:'URW DIN Arabic';
    -fx-font-size: 10px;
    /*-fx-wrap-text: true;*/
    /*-fx-padding: 15px;*/
}

.appTable .column-header-background
{
    -fx-background-color: transparent;
}

.appTable .table-row-cell {
    -fx-cell-size: 40px;

}

.appTable .table-cell {
    /*    -fx-border-color: #4D4D4D;
        -fx-border-width: 1;*/
    -fx-alignment: CENTER;
    -fx-font-family:'URW DIN Arabic';
    -fx-font-size: 12px;
}
.appTable .table-row-cell:selected .table-cell {
    -fx-background-color: #F68A1F;
}
.appTable .table-row-cell:empty{ 
    -fx-background-color: #F4F4F4;   
}
.appTable .table-row-cell:empty .table-cell { 
    -fx-border-width:     0px;        
}

.blocked{
    -fx-background-color: transparent;
}
.blocked:focused{
    -fx-background-color: transparent;
}
.blocked .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.appComboBox.combo-box>.list-cell {
    -fx-alignment: center;
}
.appComboBox.combo-box-base{
    -fx-background-color:#fff;
    -fx-text-fill: #20C9D7;
    -fx-border-color: #C9C9C9;
    -fx-border-width: 1;
    -fx-font-family:'URW DIN Arabic';
    -fx-font-size: 18px;
}
.appComboBox.combo-box-base:focused {
    -fx-background-color: linear-gradient(#718A76, #fff);
    /*    -fx-background-radius: 6.4, 4, 5, 3;
        -fx-background-insets: 1.4, 0, 1, 2;*/
}
.appComboBox.combo-box-base:hover
{
    -fx-color: -fx-hover-base;
}
.appText{
    -fx-background-color:#fff;
    -fx-text-fill: #4E4E4E;
    -fx-border-color: #C9C9C9;
    -fx-border-width: 1;
    -fx-font-family:'URW DIN Arabic';
    -fx-font-size: 18px;
}
.appText:focused {
    -fx-background-color: linear-gradient(#718A76, #fff);
    /*    -fx-background-radius: 6.4, 4, 5, 3;
        -fx-background-insets: 1.4, 0, 1, 2;*/
}
.closeButton{
    -fx-background-color: #fff;
    -fx-text-fill: #491B17;
    -fx-font-family:'URW DIN Arabic';
    -fx-font-size: 20px;
}
.closeButton:hover{
    -fx-background-color: #333333;
    -fx-background-radius: 0;
    -fx-text-fill: #fff;
}

.titled-pane > .title 
{
    -fx-background-color: #4E4E4E;
    -fx-background-radius: 0;
    -fx-font-family:'URW DIN Arabic';
    -fx-font-size: 18px;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 15;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2;
}
.titled-pane > .title > .text
{
    -fx-fill: #FFFFFF;
}

.titled-pane:hover > .title {
    -fx-background-color: #3a3a3a;
}

.titled-pane:focused > .title 
{
    -fx-background-color: #000;
}
.titled-pane:selected > .title 
{
    -fx-background-color: #000;
}

.titled-pane > .title > .arrow-button 
{
    /*    -fx-background-color: #7C9D7C;*/
    -fx-background-insets: 0;
    -fx-background-radius: 2;
    -fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */
}

.titled-pane > .title > .arrow-button .arrow 
{
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titled-pane:collapsed > .title > .arrow-button .arrow 
{
    -fx-rotate: -90;
}

.titled-pane > *.content 
{
    /*    -fx-background-color:#5EAF95;
        -fx-background-insets: 0, 0 1 1 1;
        -fx-padding: 0.167em;*/
}

.titled-pane:focused > .title > .arrow-button .arrow 
{
    -fx-background-color: #4A4A4A;
}
.backGround{
    /*-fx-background-image: url(../Images/loginBg.png);*/
    /*-fx-background-color: #FFFFFF;*/
}
.mainClass {
    -fx-background-image: url(../images/logingbg.jpg);
    -fx-background-position: left top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}
.loginData {
    -fx-background-image: url(../images/loginBG2.png);
    -fx-background-position: center, center;
    -fx-background-repeat: no-repeat;
}
.loginButton {
    -fx-font-family: "URW DIN Arabic";
    -fx-font-size: 15px;
    -fx-background-color: #1E3606;
    -fx-background-radius: 50;
    -fx-text-fill: #FFFFFF;
    /*-fx-effect: dropshadow(three-pass-box,#3C3B3B, 20, 0, 5, 5);*/ 
}
.loginButton:hover{
    -fx-background-color: #0CB200;
    -fx-background-radius:50;
}
.loginButton:pressed{
    -fx-background-color: #000;
    -fx-background-radius: 50;
}
.loginButton:focus{
    -fx-background-color: #718A76;
    -fx-background-radius: 50;
}
.logintextInput{
    -fx-font-family: "URW DIN Arabic";
    -fx-font-size:15px;
    -fx-text-fill: #121E29;
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 50;
    -fx-border-color: #000;
    -fx-border-insets: 0;
    -fx-border-width: 0 0 0 0;
    -fx-border-style: solid;
}
.textInput{
    -fx-font-family: "URW DIN Arabic";
    -fx-font-size:15px;
    -fx-text-fill: #CDE7F0;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #7C9D7C;
    -fx-border-insets: 0;
    -fx-border-width: 0 0 2 0;
    -fx-border-style: solid;
}
.logo{
    -fx-effect: dropshadow(two-pass-box,#000, 30, 0,15, 15);
}
.logoCountConteiner{
    -fx-effect: dropshadow(two-pass-box,#313131, 30, 0,15, 15);
}
.buttonStyle {
    -fx-font-family: "URW DIN Arabic";
    -fx-font-size: 15px;
    -fx-background-color: #272728;
    -fx-background-radius: 0;
    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box,#3C3B3B, 20, 0, 5, 5); 
}
.buttonStyle:hover{
    -fx-background-color: #000;
}
.changePassowrdPuttonStyle {
    -fx-font-family: "URW DIN Arabic";
    -fx-font-size: 13px;
    -fx-background-color: #121E29;
    -fx-background-radius: 50;
    -fx-text-fill: #FFFFFF;
}
.changePassowrdPuttonStyle:hover{
    -fx-text-fill: #FFFFFF;
}
.logoPageLableStyle {
    -fx-font-family: "URW DIN Arabic";
    -fx-font-size: 30px;
    -fx-text-fill: #365542;
    -fx-border-color: #7C9D7C;
    -fx-border-insets: 0;
    -fx-border-width: 5 5 5 0 ;
    -fx-border-radius: 50 0 0 50 ;
    -fx-border-style: solid;
    -fx-effect: dropshadow(three-pass-box,#3C3B3B, 20, 0, 5, 5); 
}
.logoPagenumberLableStyle {
    -fx-font-family: "URW DIN Arabic";
    -fx-font-size: 60px;
    -fx-text-fill: #11E811;
    -fx-background-color: #686868;
    -fx-background-radius: 50;
    -fx-border-insets: 0;
    -fx-border-color: #7C9D7C;
    -fx-border-width: 0 5 0 0 ;
    -fx-border-radius: 0 50 50 0 ;
    -fx-border-style: solid;
    -fx-effect: dropshadow(three-pass-box,#3C3B3B, 20, 0, 5, 5); 
}
.itemLable {
    -fx-font-family: "URW DIN Arabic"; 
    -fx-font-size: 13px;
    -fx-border-color: #D5D8D8;
    -fx-border-width: 0 2 0 2 ;
    -fx-border-radius: 100 ;
    
}
.squnseLable {
    -fx-font-family: "URW DIN Arabic"; 
    -fx-font-size: 13px;
    -fx-text-fill: #FFFFFF;
    -fx-background-color:  #596367;
    -fx-border-radius: 100 ;
    -fx-background-radius: 100;
}
.itemBackground{
    -fx-background-image: url(../images/showimage.png); 
}
.actionButton{
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-background-color: #1E3606;
}
.shdow{
    -fx-effect: dropshadow(three-pass-box,#3C3B3B, 20, 0, 5, 5); 
}
.headerPanl{
    /*-fx-background-color: #596367;*/
}
.tableHeder{
    -fx-font-family: "URW DIN Arabic";
    -fx-font-size: 15px;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #747D80;
    -fx-border-width: 0 2 0 2 ;
    -fx-border-radius: 100 ;
     -fx-background-color: #3B4244;
    -fx-background-radius: 100;
     -fx-effect: dropshadow(three-pass-box,#3C3B3B, 20, 0, 5, 5); 
}
.tableHeder:hover{

}
.itemPanl{
    -fx-border-color:  #B4BCAC;
    -fx-border-width: 0 0 5 0 ;
}
.itemPanl:hover{
    -fx-background-color: #F68A1F;
    -fx-text-fill: #FFFFFF;
}
.itemPanl:selected{
    -fx-background-color: #1E3606;
}
.markButton{
    -fx-background-color: #686868;
    -fx-background-radius: 100;
    -fx-border-radius: 100 ;
}